.link
{
	text-decoration:none;
	color:black;
	font-size:30px;
	transition:1s;
	
}

.link:hover
{
	color: blue;
	border-radius: 6px;
	transition:0.5s;
}

.nosense
{
	font-family:Cascadia Code;
	font-size:30px;
	margin:20px;
	color: white;
	animation: slide 0.8s ease;
}
@keyframes slide{
	from{margin: 0px; opacity: 0%;};
	to{margin: 20px; opacity: 100%;};
}

.list{
	list-style-type:none;
	font-family: 'Rajdhani', sans-serif;
	display: inline;
	color: black;
	font-size: 30px;
}

.sidebar{
	position:fixed;
	top: 8px;
	margin-top:66px;
	margin-left: -10px;
	border: solid white 1px;
	animation-name:baba;
	animation-duration:0.7s;
}

@keyframes baba{
	from {left: -150px;}
	to {left: 8px;}
}
/*from {margin-top: 0px; background-color:black;}
	to {margin-top:66px;}*/

.main{
	margin-left:220px;
	margin-top:90px;
	animation-name:lahat;
	animation-duration:1s;
	animation-timing-function: ease-out;
}

@keyframes lahat{
	from {opacity:0%;}
	to {opacity:100%;}
}

/*orginal*/
from {margin-top: -150px; opacity:0%;}
	to {margin-top: 85px;}
from {opacity:0%;}
	to {opacity:100%;}
.text
{
	font-size:20px;
	font-family: 'Rajdhani', sans-serif;
	animation: slides 2s ease;
}
@keyframes slides{
	from{opacity: 0%;};
	to{opacity: 100%;};
}

.taas{
	position:fixed;
	width:100.3%;
	top: 8px;
	border-color: white;
	background-color: white;
	border: solid 1px;
	margin-top:-10px;
	margin-left:-10px;
	animation-name:up;
	animation-duration:0.7s;
	transition: 1s ease;
}

@keyframes up{
	from {margin-top: -100px;  background-color:black;}
	to {margin-top: -10;}
}

.image{
	height:75px;
	width:90px;
	float: right;
	margin-top: -75px;
}

body{
	color: white;
	background-color: black;
	transition: 1s ease;
}


.dark-mode{
	      color: white;
	      background-color: black;
		transition: 1s ease;
	    }

.dark-mode .taas {
	      color: white;
	      background-color: black;
		transition: 1s ease;
	    }

.dark-mode .link {
	      color: white;
	
		transition: 1s ease;
	    }

.dark-mode .link:hover {
	      color: yellow;
	
		transition: 1s ease;
	    }

.mainbtn {
	position: absolute;
	top: 20px;
	left: 150px;
	border-radius: 5px;
	background-color: white;
	margin-left: 5px;
	transition: 0.6s;
}

.mainbtn:hover {
	border-radius: 30px;
	background-color: black;
	margin-left: 20px;
	color: white;
	transition: 0.6s;
}
.ad{
	font-size:20px;
	font-family: 'Rajdhani', sans-serif;
	color: white;
	display: inline;
}
.cir{
	padding: 0px;
	padding-top: 35px;
}

.bilog{
	margin-left: 200px;
	padding: 0px;
	text-align: center;
	background-color:green;
	width: 300px;
	height: 100px;
	transition: 0.5s ease;
}
.bilog:hover {
	margin-left: 500px;
	background-color:green;
	border-radius: 800px;
	width: 100px;
	height: 80px;
	transition: 0.5s ease;
	font-size: 10px;
	
}
.c{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 10px;
	margin-top: 20px;
	animation: load 3s infinite;
	
}
@keyframes load{
	0%{color: white;}
	50%{color: #fbb625}
	100%{color: white;}
}
.r{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 27px;
	margin-top: -55.5px;
	animation: load2 3s infinite;
	animation-delay: 2s;
}
@keyframes load2{
	0%{color: white;}
	50%{color: #fbb625}
	100%{color: white;}
}
.e{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 44px;
	margin-top: -55.5px;
	animation: load3 3s infinite;
	animation-delay: 3s;
}
@keyframes load3{
	0%{color: white;}
	50%{color: #fbb625}
	100%{color: white;}
}
.a{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 62px;
	margin-top: -55.5px;
	animation: load4 3s infinite;
	animation-delay: 4s;
}
@keyframes load4{
	0%{color: white;}
	50%{color: #fbb625}
	100%{color: white;}
}

.f{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 78px;
	margin-top: -55.5px;
	animation: fixer 3s infinite;
	animation-delay: 5s;
}
@keyframes fixer {
	0%{color: white;}
	50%{color: #5c7086;}
	100%{color: white;}
}
.i{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 94px;
	margin-top: -54.9px;
	animation: fixer2 3s infinite;
	animation-delay: 6s;
}
@keyframes fixer2 {
	0%{color: white;}
	50%{color: #5c7086;}
	100%{color: white;}
}
.x{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 110px;
	margin-top: -55.5px;
	animation: fixer3 3s infinite;
	animation-delay: 7s;
}
@keyframes fixer3 {
	0%{color: white;}
	50%{color: #5c7086;}
	100%{color: white;}
}

.nav{
	position: absolute;
	top: 0px;
	left: 180px;
	word-spacing: 20px;
}

/**.c{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 400px;
	margin-top: 20px;
	animation: load 3s infinite;
	
}
@keyframes load{
	0%{color: white;}
	50%{color: #fbb625}
	100%{color: white;}
}
.r{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 417px;
	margin-top: -55.5px;
	animation: load2 3s infinite;
	animation-delay: 2s;
}
@keyframes load2{
	0%{color: white;}
	50%{color: #fbb625}
	100%{color: white;}
}
.e{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 434px;
	margin-top: -55.5px;
	animation: load3 3s infinite;
	animation-delay: 3s;
}
@keyframes load3{
	0%{color: white;}
	50%{color: #fbb625}
	100%{color: white;}
}
.a{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 452px;
	margin-top: -55.5px;
	animation: load4 3s infinite;
	animation-delay: 4s;
}
@keyframes load4{
	0%{color: white;}
	50%{color: #fbb625}
	100%{color: white;}
}

.f{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 468px;
	margin-top: -55.5px;
	animation: fixer 3s infinite;
	animation-delay: 5s;
}
@keyframes fixer {
	0%{color: white;}
	50%{color: #5c7086;}
	100%{color: white;}
}
.i{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 484px;
	margin-top: -54.9px;
	animation: fixer2 3s infinite;
	animation-delay: 6s;
}
@keyframes fixer2 {
	0%{color: white;}
	50%{color: #5c7086;}
	100%{color: white;}
}
.x{
	font-family:Cascadia Code;
	font-size:30px;
	margin-left: 500px;
	margin-top: -55.5px;
	animation: fixer3 3s infinite;
	animation-delay: 7s;
}
@keyframes fixer3 {
	0%{color: white;}
	50%{color: #5c7086;}
	100%{color: white;}
}

	ORIGINAL NA CREAFIX NA ANIMATION **/
.link2{
	text-decoration:none;
	color: white;
	font-size:30px;
	padding: 5px;
	background-color: greenyellow;
	border-radius: 5px;
	transition: 0.5s;
}
.link2:hover {
	color: white;
	font-size: 25px;
	padding: 5px;
	background-color: rgb(103, 147, 38);
	border-radius: 10px;
	transition: 0.5s;
}
.getstarted{
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}

.imagetest{
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 50px;
	height: 100%;
	width: 100%;
	transition:.8s ease;
}
.imagetest2{
	position: absolute;
	z-index: -10;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	transition:.8s ease;
}

.change1{
	position: absolute;
	top: 500px;
	left: 900px;
	transition: .8s ease;
}
.change2{
	position: absolute;
	top: 500px;
	left: 1000px;
	transition: .8s ease;
}
@keyframes trans{
	from{opacity: 0%;};
	to{opacity: 100%;};
}
.change3{
	position: absolute;
	top: 500px;
	left: 1100px;
	transition: .8s ease;
}
.imagebtn{
	height: 50px;
	width: 50px;
}